
*.dll
*.pdb
*.ide
.vs/WpOportunidades/DesignTimeBuild/.dtbcache
.vs/WpOportunidades/v15/.suo
.vs/WpOportunidades/v15/Server/sqlite3/storage.ide
.vs/WpOportunidades/v15/Server/sqlite3/storage.ide-shm
.vs/WpOportunidades/v15/Server/sqlite3/storage.ide-wal
WpOportunidades.Domains/bin/Release/netcoreapp2.1/WpOportunidades.Domains.deps.json
WpOportunidades.Domains/obj/Debug/netcoreapp2.1/WpOportunidades.Domains.AssemblyInfoInputs.cache
WpOportunidades.Domains/obj/Debug/netcoreapp2.1/WpOportunidades.Domains.assets.cache
WpOportunidades.Domains/obj/Debug/netcoreapp2.1/WpOportunidades.Domains.csproj.CoreCompileInputs.cache
WpOportunidades.Domains/obj/Debug/netcoreapp2.1/WpOportunidades.Domains.csprojAssemblyReference.cache
WpOportunidades.Domains/obj/project.assets.json
WpOportunidades.Domains/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades.Domains/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades.Domains/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.AssemblyInfo.cs
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.AssemblyInfoInputs.cache
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.assets.cache
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.csproj.CopyComplete
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.csproj.CoreCompileInputs.cache
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.csproj.FileListAbsolute.txt
WpOportunidades.Domains/obj/Release/netcoreapp2.1/WpOportunidades.Domains.csprojAssemblyReference.cache
WpOportunidades.Domains/obj/WpOportunidades.Domains.csproj.nuget.cache
WpOportunidades.Domains/obj/WpOportunidades.Domains.csproj.nuget.g.props
WpOportunidades.Entities/bin/Release/netcoreapp2.1/WpOportunidades.Entities.deps.json
WpOportunidades.Entities/obj/Debug/netcoreapp2.1/WpOportunidades.Entities.AssemblyInfoInputs.cache
WpOportunidades.Entities/obj/Debug/netcoreapp2.1/WpOportunidades.Entities.assets.cache
WpOportunidades.Entities/obj/Debug/netcoreapp2.1/WpOportunidades.Entities.csproj.CoreCompileInputs.cache
WpOportunidades.Entities/obj/Debug/netcoreapp2.1/WpOportunidades.Entities.csprojAssemblyReference.cache
WpOportunidades.Entities/obj/project.assets.json
WpOportunidades.Entities/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades.Entities/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades.Entities/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.AssemblyInfo.cs
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.AssemblyInfoInputs.cache
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.assets.cache
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.csproj.CoreCompileInputs.cache
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.csproj.FileListAbsolute.txt
WpOportunidades.Entities/obj/Release/netcoreapp2.1/WpOportunidades.Entities.csprojAssemblyReference.cache
WpOportunidades.Entities/obj/WpOportunidades.Entities.csproj.nuget.cache
WpOportunidades.Entities/obj/WpOportunidades.Entities.csproj.nuget.g.props
WpOportunidades.Infrastructure/bin/Release/netcoreapp2.1/WpOportunidades.Infrastructure.deps.json
WpOportunidades.Infrastructure/obj/Debug/netcoreapp2.1/WpOportunidades.Infrastructure.AssemblyInfoInputs.cache
WpOportunidades.Infrastructure/obj/Debug/netcoreapp2.1/WpOportunidades.Infrastructure.assets.cache
WpOportunidades.Infrastructure/obj/Debug/netcoreapp2.1/WpOportunidades.Infrastructure.csproj.CoreCompileInputs.cache
WpOportunidades.Infrastructure/obj/Debug/netcoreapp2.1/WpOportunidades.Infrastructure.csprojAssemblyReference.cache
WpOportunidades.Infrastructure/obj/project.assets.json
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.AssemblyInfo.cs
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.AssemblyInfoInputs.cache
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.assets.cache
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.csproj.CopyComplete
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.csproj.CoreCompileInputs.cache
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.csproj.FileListAbsolute.txt
WpOportunidades.Infrastructure/obj/Release/netcoreapp2.1/WpOportunidades.Infrastructure.csprojAssemblyReference.cache
WpOportunidades.Infrastructure/obj/WpOportunidades.Infrastructure.csproj.nuget.cache
WpOportunidades.Infrastructure/obj/WpOportunidades.Infrastructure.csproj.nuget.g.props
WpOportunidades.Services/bin/Release/netcoreapp2.1/WpOportunidades.Services.deps.json
WpOportunidades.Services/obj/Debug/netcoreapp2.1/WpOportunidades.Services.AssemblyInfoInputs.cache
WpOportunidades.Services/obj/Debug/netcoreapp2.1/WpOportunidades.Services.assets.cache
WpOportunidades.Services/obj/Debug/netcoreapp2.1/WpOportunidades.Services.csproj.CoreCompileInputs.cache
WpOportunidades.Services/obj/Debug/netcoreapp2.1/WpOportunidades.Services.csprojAssemblyReference.cache
WpOportunidades.Services/obj/project.assets.json
WpOportunidades.Services/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades.Services/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades.Services/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.AssemblyInfo.cs
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.AssemblyInfoInputs.cache
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.assets.cache
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.csproj.CopyComplete
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.csproj.CoreCompileInputs.cache
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.csproj.FileListAbsolute.txt
WpOportunidades.Services/obj/Release/netcoreapp2.1/WpOportunidades.Services.csprojAssemblyReference.cache
WpOportunidades.Services/obj/WpOportunidades.Services.csproj.nuget.cache
WpOportunidades.Services/obj/WpOportunidades.Services.csproj.nuget.g.props
WpOportunidades/bin/Debug/netcoreapp2.1/WpOportunidades.runtimeconfig.dev.json
WpOportunidades/bin/Release/netcoreapp2.1/win-x64/WpOportunidades.deps.json
WpOportunidades/bin/Release/netcoreapp2.1/win-x64/WpOportunidades.exe
WpOportunidades/bin/Release/netcoreapp2.1/win-x64/WpOportunidades.runtimeconfig.dev.json
WpOportunidades/bin/Release/netcoreapp2.1/win-x64/WpOportunidades.runtimeconfig.json
WpOportunidades/bin/Release/netcoreapp2.1/WpOportunidades.deps.json
WpOportunidades/bin/Release/netcoreapp2.1/WpOportunidades.runtimeconfig.dev.json
WpOportunidades/bin/Release/netcoreapp2.1/WpOportunidades.runtimeconfig.json
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.AssemblyInfoInputs.cache
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.assets.cache
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.csproj.CoreCompileInputs.cache
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.csprojAssemblyReference.cache
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.RazorAssemblyInfo.cache
WpOportunidades/obj/Debug/netcoreapp2.1/WpOportunidades.RazorTargetAssemblyInfo.cache
WpOportunidades/obj/netcoreapp2.1/win-x64/host/WpOportunidades.exe
WpOportunidades/obj/project.assets.json
WpOportunidades/obj/publish/win-x64/project.assets.json
WpOportunidades/obj/publish/win-x64/WpOportunidades.csproj.nuget.cache
WpOportunidades/obj/publish/win-x64/WpOportunidades.csproj.nuget.g.props
WpOportunidades/obj/publish/win-x64/WpOportunidades.csproj.nuget.g.targets
WpOportunidades/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades/obj/Release/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/appsettings.Development.json
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/appsettings.json
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/web.config
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/WpOportunidades.deps.json
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/WpOportunidades.exe
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/PubTmp/Out/WpOportunidades.runtimeconfig.json
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.AssemblyInfo.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.AssemblyInfoInputs.cache
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.assets.cache
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.csproj.CopyComplete
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.csproj.CoreCompileInputs.cache
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.csproj.FileListAbsolute.txt
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.csprojAssemblyReference.cache
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.RazorAssemblyInfo.cache
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.RazorAssemblyInfo.cs
WpOportunidades/obj/Release/netcoreapp2.1/win-x64/WpOportunidades.RazorTargetAssemblyInfo.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.AssemblyInfo.cs
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.AssemblyInfoInputs.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.assets.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.csproj.CopyComplete
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.csproj.CoreCompileInputs.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.csproj.FileListAbsolute.txt
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.csprojAssemblyReference.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.RazorAssemblyInfo.cache
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.RazorAssemblyInfo.cs
WpOportunidades/obj/Release/netcoreapp2.1/WpOportunidades.RazorTargetAssemblyInfo.cache
WpOportunidades/obj/WpOportunidades.csproj.EntityFrameworkCore.targets
WpOportunidades/obj/WpOportunidades.csproj.nuget.cache
WpOportunidades/obj/WpOportunidades.csproj.nuget.g.props
